
.color{
    background-color: cyan;
    height: 400px;
    width: 300px;
    border: 2px black solid;
    border-radius: 40px;
    position:relative;
    left: 690px;
    bottom:300px;
}

.glav{
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    position: relative;
    z-index: 2;
}